$primary: Chartreuse;
$body-bg: rgb(172, 202, 233);

.bg_gradient { 
    background-image: linear-gradient(80deg, rgba(234,157,247,1) 0%, 
    rgba(249,175,250,1) 5%, rgba(223,196,235,1) 15%, 
    rgba(161,205,224,1) 19%, rgba(0,212,255,1) 23%, 
    rgba(129,233,244,0.9248074229691877) 30%, 
    rgba(252,187,239,1) 41%, rgba(87,201,237,1) 50%, 
    rgba(225,237,241,1) 61%, rgba(234,157,247,1) 73%,
    rgba(153,156,255,1) 84%, rgba(0,212,255,1) 94%) 
  }

  .customCard  {
    background-color: transparent !important;
  }

.card_body {
  /* From https://css.glass */
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.bold_title {
  font-weight: bold;
}

.remove_from_faves_x {
  // sets x in top right corner
    cursor: pointer;
    position: absolute;
    color: white;
    top: -10px;
    right: -10px;
    width: 60px;
    height: 60px;
// glass effect
    background: rgba( 255, 0, 0, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 100px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.movie-card-ani {
  z-index: 9;
  &:hover,
  &:active {
    transform: scale(1.1);
    cursor: pointer;
  }
  transition: .4s ease-in-out; 
}



@import '~bootstrap/scss/bootstrap.scss';