$primary: Chartreuse;
$body-bg: #121214;
$greenFont: Chartreuse;
$input-color: Chartreuse;

.greenFont {
  color: $greenFont;
}

.bold_title {
  font-weight: bold;
}

@import '~bootstrap/scss/bootstrap.scss';